.saveBox {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    left: 50%;
    bottom: 15%;
    position: relative;
    transform: translateX(-50%);
}

.backButton {
    margin-left: 5%;
}

.saveButton {
    margin-right: 5%;
}

.editProfileBox {
    background-color: #d0d0d0;
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgPFP {
    margin-top: 10%;
    position: relative;
    width: 100px;
    height: 100px;
}

.selectPic {
    position: relative;
    width: 98%;
    height: 98%;
}

.selectBox {
    padding: 5px;
    background-color: #9b9b9b;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.selectBox2 {
    padding: 5px;
    background-color: #4c8dff;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.pictureContainer {
    top: 10%;
    width:100%;
    align-items: center;
    position: absolute;
    margin-top: 0;
    height: 100%;
}

.saveButton2 {
    width: 80%;
    height: 8%;
    transform: translateX(10%) translateY(50%);
}
