h1 {
    font-size: 40px !important;
    color: #4c8dff;
}

.loginContainer {
    width: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10% 0;
}

.loginTitle {
    top: 20%;
    padding-bottom: 0;
}

.input {
    margin: 5% 0;
}

.loginButton {
    width: 60%;
    margin: 10% 0;
}
