.upperBlock {
    position: relative;
    width: 100%;
    height: 20%;
    display: block;
    background-color: #2dd36f;
}

.lowerBlock {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: block;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    background-color: #d0d0d0;
    margin-top: 30%;
}

.topButtons {
}

.editProfileButton {
    margin-left: 5%;
}

.logoutButton {
    margin-right: 5%;
}

.img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    z-index: 1;
}

h2, h3, h4 {
    color: black;
}

.bioBox {
    width: 80%;
    min-height: 200px;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    display: block;
    border: 2px black;
}

.space {
    min-height: 150px;
}
