.contentProfile{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/screen_backgrounds/profile_background2.png");
}

.lowerBlock {
    position: relative;
    width: 100%;
    height: 80%;
    display: block;
    text-align: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 5%;
    margin-top: 30%;
}

.topButtons {
}

.editProfileButton {
    margin-left: 5%;
}

.logoutButton {
    margin-right: 5%;
}

.img {
    position: relative;
    margin: auto;
    margin-top: -37%;
    width: 200px;
    height: 200px;
    z-index: 1;
    border: 8px solid white;
}
.name {
    font-size: 36px;
}

h2 {
    color: white;
}

h3, h4, h5 {
    color: black;
}

.infoBox {
    width: 80%;
    height: 20%;
    margin-top: 0%;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    display: flex;
    position: relative;
    border: 2px black;
    border-radius: 20px;
    margin-bottom: 5%;
}

.bioBox {
    width: 80%;
    height: 35%;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    display: block;
    border: 2px black;
    border-radius: 20px;
    padding: 1%;
}
